<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ajin.mybatis.mapper.UserMapper">

    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user value(null,'admin','123456',18,'男','12345@qq.com')
    </insert>

    <!--void updateUser();-->
    <update id="updateUser">
        update t_user set username = '张三' where id = 5
    </update>

    <!--void deleteUser();-->
    <delete id="deleteUser">
        delete from t_user where id = 6
    </delete>

    <!--User getUserById();-->
    <!--
        查询功能的标签必须设置resultType或resultMap
        resultType：设置默认的映射关系
        resultMap：设置自定义的映射关系
    -->
    <select id="getUserById" resultType="com.ajin.mybatis.pojo.User">
        select * from t_user where id = 5
    </select>

    <!--void selectUser();-->
    <select id="selectUser" resultType="User">
        SELECT * FROM t_user
    </select>
</mapper>