<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input{
            outline: none;
        }
    </style>
</head>
<body>
<a th:href="@{/user}">查询所有用户信息</a><br>
<a th:href="@{/user/1}">根据id查询用户信息</a><br>
<form th:action="@{/user}" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit" value="添加"><br>
</form>
<form th:action="@{/user}" method="post">
    <input type="hidden" name="_method" value="put">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit" value="修改"><br>
</form>
<a class="da" th:href="@{/user/1}">删除</a>
<form class="dele"  method="post"> <!--th:action="@{/user/1}"-->
    <input type="hidden" name="_method" value="delete">
</form>
<script>
    let a = document.querySelector('.da')
    let form = document.querySelector('.dele')
    a.addEventListener('click',function (e){
        //将触发点击事件的超链接的href属性赋值给表单的action
        form.action = e.target.href
        //提交表单
        form.submit()
        //取消超链接的默认行为
        e.preventDefault()

    })
</script>
</body>
</html>