<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ajin.mybatis.mapper.SelectMapper">

    <!--User getUser(@Param("id") Integer id);-->
    <select id="getUser" resultType="User">
        select * from t_user where id = #{id}
    </select>
    
    <!--List<User> getAllUser();-->
    <select id="getAllUser" resultType="User">
        select * from t_user
    </select>

    <!--Integer getCount();-->
    <select id="getCount" resultType="Integer">
        select count(*) from t_user
    </select>

    <!--Map<String,Object> getUserByIdToMap(@Param("id") Integer id);-->
    <select id="getUserByIdToMap" resultType="Map">
        select * from t_user where id = #{id}
    </select>

    <!--List<Map<String,Object>> getAllUserTOMap();-->
    <select id="getAllUserTOMap" resultType="map">
        select * from t_user
    </select>
</mapper>